@charset "UTF-8";
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* header*/
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header_icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .header_icons {
    padding: 1rem 4rem;
  }
}

.header_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  width: 0%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.desplegar {
  width: 100%;
  opacity: 1;
}

.header_ul {
  position: absolute;
  padding: 1rem 1.5rem;
  width: 70%;
  height: 100vh;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .header_ul {
    width: 40%;
  }
}

.header_ul_li {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_li_a {
  font-size: 1.5rem;
  font-weight: 600;
}

.header_a_flecha {
  width: 15px;
  height: 27.5px;
}

/* Devoluciones */
.devoluciones {
  background-color: #d5d5d5;
  text-align: center;
  padding: 0.8rem 2rem;
  font-size: small;
}
@media screen and (min-width: 768px) {
  .devoluciones {
    padding: 1.3rem 2rem;
  }
}

.devoluciones_a {
  font-weight: 900;
  text-decoration: underline;
}

/* Portada */
.portada {
  padding: 0 1.5rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .portada {
    padding: 0 4rem;
    margin-bottom: 10rem;
  }
}

.portada_img {
  width: 100%;
  height: 55vh;
}

.portada_texto {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .portada_texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portada_texto_h1 {
  font-weight: 900;
  font-size: 3rem;
  font-family: "Anton", sans-serif;
}

.portada p {
  margin: 0.7rem 0;
}

.portada_portada_texto_a {
  background-color: #202020;
  padding: 0.5rem 1.3rem;
  color: white;
  width: 6.5rem;
  border-radius: 2rem;
  text-align: center;
}

/* Equipate */
.equipate {
  padding: 0 1.5rem;
  overflow: auto;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .equipate {
    padding: 0 4rem;
  }
}

.equipate_h2 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.equipate_carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 500%;
}
@media screen and (min-width: 768px) {
  .equipate_carrousel {
    width: 125rem;
  }
}

.equipate_carrousel_items {
  padding-right: 2rem;
}
@media screen and (min-width: 768px) {
  .equipate_carrousel_items {
    height: 100%;
    width: 25rem;
  }
}

.equipate_carrousel_items_texto {
  padding: 1rem 0;
}

.equipate_carrousel_items_texto h3 {
  font-weight: 900;
  padding-bottom: 1rem;
  font-size: larger;
}

.equipate_carrousel_items_texto a {
  background-color: #202020;
  margin: 1rem 0;
  width: 6rem;
  border-radius: 2rem;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
}

/* App */
.app {
  padding: 0 1.5rem;
  margin-bottom: 8rem;
}
@media screen and (min-width: 768px) {
  .app {
    padding: 0 4rem;
  }
}

.app h3 {
  padding: 1.5rem 0;
  font-weight: 900;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .app_galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.app_img {
  width: 100%;
  height: 24rem;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .app_img {
    height: 30rem;
  }
}

.app_galeria_a {
  position: relative;
}
@media screen and (min-width: 768px) {
  .app_galeria_a {
    width: 50%;
    padding-right: 1rem;
  }
}

.app_galeria_posicion {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .app_galeria_posicion {
    bottom: 4rem;
    left: 4rem;
  }
}

.app_galeria_posicion p {
  background-color: white;
  width: 10rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: #202020;
  margin-top: 1rem;
}

/* segundo carrousel */
.red {
  color: red;
}

/* Perder */
.perder {
  padding: 0 1.5rem;
  margin-bottom: 8rem;
}
@media screen and (min-width: 768px) {
  .perder {
    padding: 0 4rem;
  }
}

.perder_h3 {
  margin-bottom: 3rem;
  font-weight: 900;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .perder_img {
    width: 100%;
    height: 24rem;
  }
}

.perder_texto {
  margin-top: 2rem;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .perder_texto {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.perder_texto h2 {
  font-weight: 900;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.perder_texto_a {
  background-color: #202020;
  color: white;
  width: 6rem;
  padding: 0.6rem 0.8rem;
  border-radius: 2rem;
  text-align: center;
  margin-top: 2rem;
}

/* Unete */
.unete {
  padding: 0 1.5rem;
  margin-bottom: 8rem;
}
@media screen and (min-width: 768px) {
  .unete {
    padding: 0 4rem;
  }
}

.unete_h2 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.unete_position {
  position: relative;
}

.unete_img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
@media screen and (min-width: 768px) {
  .unete_img {
    width: 100%;
    height: 15rem;
  }
}

.unete_position_text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 80%;
}

.unete_position_text h3 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  color: white;
}

.unete_position_text_a {
  background-color: #202020;
  width: 6rem;
  padding: 0.6rem 0.8rem;
  border-radius: 2rem;
  text-align: center;
  color: white;
  margin-top: 2rem;
}

/* nike */
.nike {
  padding: 0 1.5rem;
  margin-bottom: 8rem;
  overflow: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.nike_h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.nike_carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
}
@media screen and (min-width: 768px) {
  .nike_carrousel {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.nike_carrousel_img {
  width: 300px;
  height: auto;
  padding-right: 1rem;
}

/* categorias */
.categorias {
  padding: 0 1.5rem;
  margin-bottom: 8rem;
}
@media screen and (min-width: 768px) {
  .categorias {
    padding: 0 4rem;
  }
}

.categorias_a {
  font-weight: 900;
  font-size: 1.3rem;
  padding: 0.8rem 0;
}

/* footer */
.footer {
  padding: 0rem 1.5rem;
  margin-bottom: 8rem;
  background-color: #202020;
  color: white;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer_enlaces {
  padding: 2rem 0;
}

.footer_enlaces_a {
  padding: 0.6rem 0;
  font-size: 0.7rem;
  font-weight: 900;
}

.footer_hr {
  border-top: 1px solid white;
}
@media screen and (min-width: 768px) {
  .footer_hr {
    display: none;
  }
}

.footer_ayuda {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer_ayuda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer_ayuda_acordeon {
  padding: 0;
  margin: 3rem 0;
  height: 1rem;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .footer_ayuda_acordeon {
    margin: 1rem 2.5rem;
  }
}

.footer_ayuda_acordeon_title {
  font-weight: 900;
  font-size: 0.8rem;
}

.acordeon_activo {
  height: 15rem;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .acordeon_activo {
    padding: 0;
  }
}

.footer_ayuda_acordeon_contenido {
  overflow: hidden;
}

.footer_ayuda_acordeon_contenido li {
  padding: 0.5rem 0;
}

.footer_rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}

.footer_rrss_img {
  margin-right: 0.7rem;
  width: 30px;
  height: 30px;
  margin-bottom: 20rem;
}/*# sourceMappingURL=style.css.map */